html,body {
	width: 100%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: initial;
	&.overflow-hidden {
		height: auto;
	}
}
body {
	font-family: 	$font-family;
	font-size: 		$font-size;
	line-height: 	$line-height;
	overflow-y: 	auto;
}
input,
button {
	&:focus,
	&:active {
		outline: none;
	}
}
button {
	border: none;
	background-color: transparent;
	padding: 0;
	color: inherit;
}
a {
	text-decoration: none;
	&[href^="mailto"],
	&[href^="http"] {
		word-wrap: break-word;
	}
	&.hover-link:hover {
		text-decoration: underline !important;
	}
}
[role="button"] {
	cursor: pointer;
}
p {
	margin-bottom: 10px;
}
img {
	max-width: 100%;
	.mainbody & {
		display: block;
	}
}
blockquote {
	margin: 35px 0;
	padding: 5px 20px;
	border-left: 5px solid $primary;
}
[role="button"] {
	cursor: pointer;
}
.font-unsmooth {
	-webkit-font-smoothing: initial;
	-moz-osx-font-smoothing: initial;
}
.block {
	display: block;
	position: relative;
	z-index: 1;
}
.block-bg {
	@extend %bg-image;
	position: relative;
	backface-visibility: hidden;
	>.container,
	>.container-fluid {
		position: relative;
		z-index: 10;
	}
}
.bg-fixed {
	@extend %bg-image;
	background-attachment: fixed;
}
.bg-contain {
	@extend %bg-image;
	background-size: contain;
}
.bg-cover {
	@extend %bg-image;
	background-size: cover;
}
.absolute {
	@extend %absolute-all;
	z-index: 10;
}
a.absolute {
	z-index: 99;
}
.bg-overlay {
	@include fixed(0,0,0,0);
	z-index: 600;
	height: 100vh;
	background-color: rgba(#000, .5);
	display: none;
}
.text-underline {
	text-decoration: underline !important;
}
.text-initial {
	text-transform: initial !important;
}
.text-justify {
	text-align: justify;
}
.desc {
	line-height: $line-height-desc;
}
%ellipsis {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
@for $i from 2 through 5 {
	.ellipsis-#{$i} {
		@extend %ellipsis;
		-webkit-line-clamp: $i !important;
	}
}
// Bootstrap Add 
.offcanvas-backdrop {
	@include fixed(0,0,0,0);
    background: #000;
    opacity: .5;
    z-index: 700;
}

// My Custom
.wrapper {
	overflow: hidden;
}
.alert-primary-soft {
	@include alert-variant(rgba($primary, .05), rgba($primary, .234), darken($primary, 6%));
    .alert-link {
    	color: shade-color($primary, 20%);
    }
}
.thumb-res {
	@extend %bg-image;
	overflow: hidden;
	display: block;
	position: relative;
	margin-bottom: 1rem;
	
	$thumb: (
	    "wide-sm": 	50%,
	    "wide": 	60%,
	    "wide-lg": 	70%,
	    "wide-xl": 	85%,
	    "square": 	100%,
	    "tall": 	120%
	);
	@each $name, $val in $thumb {
		&.#{$name} {
			padding-bottom: $val;
		}
	}
	&.bg-contain {
		background-size: contain;
	}
	&:before,
	>.absolute,
	img {
		@extend %absolute-all;
		transition: all 0.4s ease;
	}
	&:before {
		content: '';
		pointer-events: none;
		z-index: 44;
	}
	>.absolute {
		@extend %bg-image;
	}
	img {
		max-height: 100%;
		margin: auto;
	}
	.block:hover &,
	.d-flex:hover &,
	&:hover {
		&:before {
			background-color: rgba(#fff, .25);
		}
	}
}
$avatar-size: ("xs": 32px, "sm": 44px, "md": 68px, "lg": 85px, "xl": 95px);
.avatar {
	@extend %bg-image;
	@extend %inline-flex-center;
	width: 50px;
	height: 50px;
	flex: 0 0 auto;
	@each $name, $size in $avatar-size {
		&-#{$name} {
			width: $size;
			height: $size;
		}
	}
}
.overlay-dark,
.overlay-white {
	--bg-overlay: #000;
	--opacity: .6;
	@extend %bg-image;
	@extend %absolute-all;
	opacity: var(--opacity);
	background-color: var(--bg-overlay);
	pointer-events: none;
}
.overlay-dark {
    --bg-overlay: #000;
}
.overlay-white {
	--bg-overlay: #fff;
}
.preloader {
	$loader-icon-width: 200px;

	@include fixed(0,0,0,0);
	z-index: 9123456678;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	&-in {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		width: $loader-icon-width;
		height: 90px;
		overflow: hidden;
		position: relative;
		animation: beatload 1s ease 0.2s infinite;
		text-align: center;
		img {
			display: block;
			margin: auto;
			max-height: 100%;
		}
		&:before {
			content: '';
			@include absolute(0,null,0);
			width: 110px;
			height: 100%;
			background: linear-gradient(90deg,rgba(#fff,0),#fff,rgba(#fff,0));
			transform: translateX(-$loader-icon-width - 20px);
			animation: lightmove 1.1s ease infinite;
		}
	}
	@keyframes lightmove {
		100% {
			transform: translateX($loader-icon-width + 20px);
		}
	}
	@keyframes beatload {
		30% {
			transform: scale(.92);
		}
		50% {
			transform: scale(1.05);
		}
		100% {
			transform: scale(1.05);
		}
	}
}
.mainer {
	margin: auto;
	min-height: 300px;
}
[data-fancybox] {
	outline: none !important;
}