%font-unsmooth {
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}
:root {
    --tt:    #{$font-size};
	--tt-xs: 20px;
	--tt-sm: 24px;
	--tt-md: 28px;
	--tt-lg: 30px;
	--tt-xl: 38px;
	--tt-xxl:48px;
    --plyr-color-main: #{$primary};
}
$tt: $font-size;
$line-height-tt: 1.4;

@include media-breakpoint-up(lg) {
    :root {
        --tt-lg: 30px;
        --tt-xl: 36px;
        --tt-xxl: 40px;
    }
}
#{$tt-all} {
    font-weight: 700;
    margin: 0 0 10px;
    color: darken($body-color, 5%);
    letter-spacing: -.25px;
    a {
        color: inherit;
        font-weight: inherit;
        text-decoration: none;
    }
}
$tt: (
    tt      var(--tt)     1.40  -.25px,
    tt-xs   var(--tt-xs)  1.35  -.35px,
    tt-sm   var(--tt-sm)  1.30  -.5px,
    tt-md   var(--tt-md)  1.30  -.75px,
    tt-lg   var(--tt-lg)  1.25  -1px,
    tt-xl   var(--tt-xl)  1.25  -1.25px,
    tt-xxl  var(--tt-xxl) 1.20  -1.5px,
);
@each $name, $fontSize, $lineHeight, $letterSpacing in $tt {
    .#{$name} {
        font-size: $fontSize;
        line-height: $lineHeight;
        letter-spacing: $letterSpacing;
    }
}