- slide_tt1 = "Becker returns home to strong tradition, gentle breeze at Hand"
- slide_tt2 = "Newtown, Greenwich builder reach deal for up to 200 apartments"
- slide_tt3 = "WestConn looks to ‘quasi-normal’ year as students move inside"

- slide_desc1 = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris.'
- slide_desc2 = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris.'
- slide_desc3 = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris.'

mixin home_slider(className)
    div(class=className)
        .img-slide(style="background-image: url('css/skin/slider/slider_01.jpg')")
        .container.absolute.d-flex.text-center
            //- .text-slider
            //-     .tt-lg= slide_tt1
            //-     .desc= slide_desc1
